html {
  text-align: center;
}

button, input {
	margin: 5px 5px;
	padding: 7px 35px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}

fieldset {
  margin: 25px 75px;
  text-align: left;
  padding: 75px;
}

.link {
  margin: 50px;
}


